[Unit]
Description=PIP Kiosk Manager
After=network-online.target graphical.target
Wants=network-online.target

[Service]
User=root
WorkingDirectory=/root
Environment=DISPLAY=:0
Environment=XAUTHORITY=/root/.Xauthority
ExecStartPre=/bin/sleep 5
ExecStart=/usr/local/bin/kiosk-manager.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target